@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Creates custom classes
*/
@layer components {
  /* Donut Chart */
  .donut-chart .donut-arc {
    transition-duration: 0.3s;
    transition-property: opacity, transform;
    opacity: 1;
  }
  .donut-chart.highlighting .donut-arc {
    opacity: 0.75;
    transform: scale(0.95);
  }
  .donut-chart.highlighting .donut-arc:hover {
    opacity: 1;
    transform: scale(1);
  }

  /* Bar Chart */
  .x-axis > path {
    fill: none;
    stroke: #d4d4d8;
  }
  .x-axis .tick > line {
    fill: none;
    stroke: none;
  }
  .x-axis .tick > text {
    fill: #52525b;
  }
  .y-axis > path {
    fill: none;
    stroke: none;
  }
  .y-axis .domain {
    display: none;
  }
  .y-axis .tick > line {
    fill: none;
    stroke: none;
  }
  .y-axis .tick > text {
    fill: #52525b;
  }
  .y-grid > path {
    fill: none;
    stroke: none;
  }
  .y-grid .tick > line {
    stroke: #e4e4e7;
    stroke-dasharray: 6;
    stroke-linecap: round;
  }

  .bar-chart .bar {
    transition-duration: 0.3s;
    transition-property: opacity, transform;
    opacity: 1;
  }
  .bar-chart.highlighting .bar {
    opacity: 0.75;
  }
  .bar-chart.highlighting .bar:hover {
    opacity: 1;
  }
}
